.hidden-color-input {
  display: none;
}

.primary-color-button {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.background-color-button {
  width: 60%;
  height: 60%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.relative {
  position: relative;
}

.flip-color-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.hidden-file-input {
  display: none;
}


/* Désactiver la sélection de texte sur toute l'application */
body {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  min-width: 600px;
}

/* Réactiver la sélection de texte pour les zones où c'est nécessaire */
.selectable {
  user-select: text;
  -webkit-user-select: text; /* Safari */
  -ms-user-select: text; /* IE 10+ */
}

.loader-bar {
  width: 0%;
  animation: loading 5s ease-in-out infinite;
}

@keyframes loading {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
